.scroll-to-top {
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  position: fixed;
  transition: opacity 0.3s ease;
}

.scroll-button {
  right: 4px;
  width: 50px;
  bottom: 10px;
  height: 50px;
  border: none;
  color: white;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  border-radius: 30px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.scroll-button-i {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  background-color: var(--main-blue-color);
}

.scroll-button-i:hover{
  background-color: #1c57c3;
}

.scroll-to-top.hide {
  opacity: 0;
}

.scroll-to-top.show {
  opacity: 1;
}