* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.EventsTwoSectionContainer {
    height: 100%;
    width: 100%;
    padding: 5vh 0;
    margin-top: 3vh;
}
.EventsTwoSectionTextpart{
    text-align: center;
    margin: 5vh 0;
}
.EventsTwoSectionTextpart h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1vh;
    color: #0b1c39;
}
.EventsTwoSectionTextpart p{
    font-size: 15px;
    color: #626a77;
    max-width: 28vw;
    line-height: 25px;
    font-weight: 400;
    margin: auto;
}

.EventsTwoSectionCards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.EventsTwoSectionCards {
    display: grid;
    grid-template-columns: 55vw;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.EventsTwoSectionCards .EventsTwoSectionCard {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 30px 70px 0px rgba(2, 25, 55, 0.08);
    border-radius: 10px;
}

.EventsTwoSectionCardLeft {
    margin-right: 40px;
}

.EventsTwoSectionCardLeft img {
    width: 15vw;

}

.EventsTwoSectionCardRight {
    display: flex;
    flex-direction: column;
    gap: 6px;

}
.EventsTwoSectionCardRight h5{
    color: #fdb70d;
}

.EventsTwoSectionCardRight h2 {
    font-size: 22px;
    max-width: 450px;
    margin-bottom: 3vh;
}

.DateLocation {
    display: flex;
    gap: 4vw;
    margin-bottom: 3vh;
}

.EventsTwoSectionCardRight .oclock {
    display: flex;
    align-items: center;
    gap: 3px;
}

.EventsTwoSectionCardRight .oclock i {
    color: blue;
    display: flex;
    align-items: center;
}

.EventsTwoSectionCardRight .map {
    display: flex;
    align-items: center;
    gap: 3px;
}

.EventsTwoSectionCardRight .map i {
    color: blue;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .EventsTwoSectionCards {
        grid-template-columns: 80vw;
    }
}

@media (max-width: 992px) {
    .EventsTwoSectionTextpart p {
        max-width: 40vw;
    }

    .EventsTwoSectionCardRight h2 {
        font-size: 20px;
    }

    .EventsTwoSectionCardLeft img {
        width: 20vw;
    }
}
@media (max-width: 768px){
    .EventsTwoSectionCards .EventsTwoSectionCard{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .EventsTwoSectionTextpart h2{
        font-size: 25px;
    }
    .EventsTwoSectionTextpart p{
        max-width: 50vw;
    }
    .EventsTwoSectionCardRight p{
        max-width: 60vw;
    }
    .EventsTwoSectionCardLeft img{
        width: 35vw;
    }
    .DateLocation{
        flex-direction: column;
    }
    .DateLocation p{
        font-size: 14px;
        gap: 2vh;
    }
}