*,
*::before,
*::after {
  box-sizing: var(--border-sizing);
}

.img-slider-img {
  height: 500px;
  width: var(--vw-100);
  flex-grow: var(--percent-0);
  display: var(--display-block);
  flex-shrink: var(--percent-0);
  object-fit: var(--object-fit-cover);
}

.img-slider-btn {
  padding: 1rem;
  all: var(--unset);
  top: var(--percent-0);
  bottom: var(--percent-0);
  display: var(--display-flex);
  cursor: var(--cursor-pointer);
  position: var(--position-absolute);
  transition: background-color 100ms ease-in-out;
}

.img-slider-btn:hover,
.img-slider-btn:focus-visible {
  background-color: rgb(0, 0, 0, 0.2);
}

.img-slider-btn>* {
  width: 2rem;
  height: 2rem;
  fill: var(--black-color);
  stroke: var(--white-color);
}

.img-slider-dot-btn {
  all: unset;
  width: 1rem;
  height: 1rem;
  cursor: var(--cursor-pointer);
  display: var(--display-block);
  transition: scale 100ms ease-in-out;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible {
  scale: 1.2;
}

.img-slider-dot-btn>* {
  fill: var(--black-color);
  width: var(--percent-100);
  height: var(--percent-100);
  stroke: var(--white-color);
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
  outline: var(--auto);
}

.skip-link {
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: var(--hidden);
  border: var(--percent-0);
  padding: var(--percent-0);
  position: var(--position-absolute);
}

.skip-link:focus-visible {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 100;
  padding: 0.5rem;
  clip: var(--unset);
  width: var(--auto);
  height: var(--auto);
  color: var(--black-color);
  text-decoration: var(--display-none);
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
}

.img-slider-img {
  width: 100%;
  transition: transform var(--transition-medium) ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: var(--border-sizing);
  position: var(--position-relative);
  transition: transform var(--transition-medium) ease-in-out;
}

.slide-caption {
  transition: 9s;
  border-radius: 5px;
  width: var(--vw-90);
  padding: var(--10-px);
  left: var(--percent-5);
  font-size: var(--16-px);
  color: var(--white-color);
  bottom: var(--percent-60);
  transform: translateX(-50px);
  cursor: var(--cursor-default);
  text-align: var(--text-center);
  position: var(--position-absolute);
  font-family: "Open Sans", sans-serif;
}

.ptag {
  font-size: var(--14-px);
  letter-spacing: var(--4-px);
}

.hone {
  /* bottom: 28%; */
  font-size: var(--28-px);
  font-weight: var(--600-font-weight);
}

.img-slider-btn {
  z-index: 1;
  font-size: 2rem;
  top: var(--percent-50);
  color: var(--white-color);
  border: var(--display-none);
  display: var(--display-none);
  cursor: var(--cursor-pointer);
  background: var(--display-none);
  position: var(--position-absolute);
  transform: translateY(var(--percent-50));
}

.img-slider-dot-btn {
  border: var(--display-none);
  cursor: var(--cursor-pointer);
  background: var(--display-none);
}

.img-slider-dot-btn>svg {
  fill: rgba(255, 255, 255, 0.5);
}

.img-slider-dot-btn:hover>svg,
.img-slider-dot-btn:focus>svg,
.img-slider-dot-btn>svg {
  fill: rgba(255, 255, 255, 1);
}

.skip-link {
  top: -40px;
  padding: var(--8-px);
  left: var(--percent-0);
  color: var(--white-color);
  background: var(--black-color);
  position: var(--position-absolute);
  text-decoration: var(--display-none);
}

.skip-link:focus {
  top: var(--percent-0);
}

.slider-button {
  width: 160px;
  height: 50px;
  margin-top: 30px;
  border-radius: 25px;
  font-size: var(--16-px);
  color: var(--white-color);
  border: 2px solid var(--white-color);
  transition: var(--transition-medium);
  background-color: var(--transparent);
}

.slider-button:hover {
  background-color: var(--main-blue-color);
  border: 2px solid var(--main-blue-color);
}

@media not (prefers-reduced-motion) {
  .img-slider-img {
    transition: translate 300ms ease-in-out;
  }

  .img-slider-btn:hover>*,
  .img-slider-btn:focus-visible>* {
    animation: squish 200ms ease-in-out;
  }
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

.slide-caption.active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 3s ease, transform 3s ease;
}

@media screen and (min-width:800px) {
  .hone {
    font-size: 46px;
  }

  .ptag {
    font-size: 20px;
  }

  .img-slider-img {
    width: var(--vw-100);
    height: var(--vh-100);
  }

}

@media screen and (min-width:1270px) {
  .hone {
    bottom: var(--percent-35);
  }

  .slider-button {
    width: 200px;
    height: 60px;
    border-radius: var(--30-px);
  }

  .img-slider-btn {
    /* top: 0; */
    bottom: 0px;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
  }
}

.slide-caption {
  height: 240px;
  bottom: var(--percent-30);
  display: var(--display-flex);
  align-items: var(--display-center);
  flex-direction: var(--flex-direction-column);
  justify-content: var(--display-space-between);
}