*,
*::before,
*::after {
  box-sizing: border-box;
}

.img-slider-img {
  width: 100vw;
  flex-grow: 0;
  height: 500px;
  flex-shrink: 0;
  display: var(--display-block);
  object-fit: var(--object-fit-cover);
}

.img-slider-btn {
  top: 0;
  bottom: 0;
  all: unset;
  padding: 1rem;
  display: var(--display-flex);
  cursor: var(--cursor-pointer);
  position: var(--position-absolute);
  transition: background-color 100ms ease-in-out;
}

.img-slider-btn:hover,
.img-slider-btn:focus-visible {
  background-color: rgb(0, 0, 0, 0.2);
}

.img-slider-btn>* {
  width: 2rem;
  height: 2rem;
  fill: var(--black-color);
  stroke: var(--white-color);
}

.img-slider-dot-btn {
  all: unset;
  width: 1rem;
  height: 1rem;
  cursor: var(--cursor-pointer);
  display: var(--display-block);
  transition: scale 100ms ease-in-out;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible {
  scale: 1.2;
}

.img-slider-dot-btn>* {
  width: 100%;
  height: 100%;
  fill: var(--black-color);
  stroke: var(--white-color);
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
  outline: auto;
}

.skip-link {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: var(--position-absolute);
}

.skip-link:focus-visible {
  top: 0;
  left: 0;
  margin: 0;
  clip: unset;
  width: auto;
  height: auto;
  z-index: 100;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
}

.img-slider-img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}

.slide-caption {
  left: 5%;
  width: 90vw;
  color: #fff;
  bottom: 60%;
  padding: 10px;
  transition: 9s;
  cursor: default;
  font-size: 16px;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  transform: translateX(-50px);
  font-family: "Open Sans", sans-serif;
}

.ptag {
  font-size: 14px;
  letter-spacing: 4px;
}

.hone {
  /* bottom: 28%; */
  font-size: 28px;
  font-weight: 600;
}

.img-slider-btn {
  display: none;
  top: 50%;
  z-index: 1;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  position: absolute;
  transform: translateY(-50%);
}

.img-slider-dot-btn {
  border: none;
  cursor: pointer;
  background: none;
}

.img-slider-dot-btn>svg {
  fill: rgba(255, 255, 255, 0.5);
}

.img-slider-dot-btn:hover>svg,
.img-slider-dot-btn:focus>svg,
.img-slider-dot-btn>svg {
  fill: rgba(255, 255, 255, 1);
}

.skip-link {
  left: 0;
  top: -40px;
  color: #fff;
  padding: 8px;
  background: #000;
  position: absolute;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

.slider-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 30px;
  transition: 0.5s;
}

.slider-button:hover {
  background-color: var(--main-blue-color);
  border: 2px solid var(--main-blue-color);
}

@media not (prefers-reduced-motion) {
  .img-slider-img {
    transition: translate 300ms ease-in-out;
  }

  .img-slider-btn:hover>*,
  .img-slider-btn:focus-visible>* {
    animation: squish 200ms ease-in-out;
  }
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

.slide-caption.active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 3s ease, transform 3s ease;
}

@media screen and (min-width:800px) {
  .hone{
    font-size: 46px;
  }

  .ptag{
    font-size: 20px;
  }

  .img-slider-img{
    width: 100%;
    height: 100vh;
  }

}

@media screen and (min-width:1270px) {
    .hone{
      bottom: 35%;
    }

    .slider-button{
      width: 200px;
      height: 60px;
      border-radius: 30px;
    }

    
}

.slide-caption{
  height: 240px;
  bottom: 30%;
  display: flex;
  align-items: center;
  border: 1px solid red;
  flex-direction: column;
  justify-content: space-between;
}