.BecomeTwoSectionBody {
    margin-top: var(--20-px);
    display: var(--display-flex);
    font-family: var(--Open-font-family);
    justify-content: var(--display-center);
}

.notification {
    padding: 8px 60px;
    border: 1px solid #ddd;
    font-size: var(--20-px);
    background-color: #f8f8f8;
    border-top: 6px solid green;
    position: var(--position-relative);
}

.notification span {
    display: var(--display-inline-block);
}

.notification a {
    color: var(--main-blue-color);
    text-decoration: var(--display-none);
}

.notification a:hover {
    text-decoration: underline;
}

.ribbon i {
    right: 15px;
    bottom: 15px;
    color: green;
    font-size: 25px;
    position: var(--position-absolute);
}

.BecomeTwoSectionForm {
    margin: var(--percent-0);
    height: var(--percent-100);
    display: var(--display-flex);
    align-items: var(--display-center);
    font-family: var(--Open-font-family);
    justify-content: var(--display-center);
}

.BecomeTwoSectionFormContainer {
    display: var(--display-flex);
    flex-wrap: var(--flex-wrap-wrap);
    justify-content: var(--display-center);
}

.form-container {
    background: #fff;
    border-radius: 5px;
    width: var(--vw-30);
    margin: var(--20-px);
    padding: var(--30-px);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.BecomeTwoSectionFormContainer h2 {
    font-size: var(--24-px);
    margin-bottom: var(--20-px);
}

.BecomeTwoSectionFormContainer label {
    margin: 10px 0 5px;
    display: var(--display-block);
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ddd;
}

.BecomeTwoSectionFormContainer button {
    width: 100%;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
}

#inputs{
    margin-bottom: 10px;
}

.BecomeTwoSectionFormContainer button:hover {
    background-color: #0056b3;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    text-align: right;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {

    .form-container {
        width: 100%;
    }
}