.display-flex {
    display: var(--display-flex);
    align-items: var(--display-center);
}

.bgcolorWhite {
    width: 360px;
    height: 60px;
    gap: var(--10-px);
    background-color: var(--white-color);
    padding: var(--percent-0) var(--30-px);
}

.sectionsixth-category-holder {
    gap: var(--16-px);
    display: var(--display-flex);
    align-items: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.bgcolorWhite:hover {
    color: var(--main-blue-color);
}

.category-holder {
    color: #666;
    width: var(--percent-100);
    border-radius: var(--6-px);
    display: var(--display-flex);
    cursor: var(--cursor-pointer);
    padding: var(--16-px) var(--20-px);
    align-items: var(--display-center);
    margin: var(--10-px) var(--percent-0);
    border: 1px solid var(--border-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.selected-category-content {
    margin-top: var(--20-px);
    text-align: var(--display-center);
}

.selected-category-content img {
    height: var(--auto);
    display: var(--display-block);
    max-width: var(--percent-100);
    margin: var(--percent-0) var(--auto);
}

.sectionsixthimage {
    position: var(--position-relative);
}

.display-flex {
    display: var(--display-flex);
    align-items: var(--display-center);
}

.bgcolorWhite {
    width: 360px;
    height: 60px;
    gap: var(--10-px);
    background-color: var(--white-color);
    padding: var(--percent-0) var(--30-px);
}

.sectionsixth-category-holder {
    gap: var(--16-px);
    display: var(--display-flex);
    align-items: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.bgcolorWhite:hover {
    color: var(--main-blue-color);
}

.sectionsixth-category-holder {
    display: var(--display-flex);
    align-items: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.category-holder:hover,
.category-holder.selected {
    color: var(--main-blue-color);
    border-color: var(--main-blue-color);
    background-color: var(--grayish-color);
}

.selected-category-content {
    margin-top: var(--20-px);
    text-align: var(--text-center);
    position: var(--position-relative);
}

.selected-category-content img {
    height: var(--auto);
    display: var(--display-block);
    max-width: var(--percent-100);
    margin: var(--percent-0) var(--auto);
}

.play-button {
    width: 1px;
    left: var(--auto);
    right: var(--auto);
    margin-left: -40px;
    top: var(--percent-0);
    bottom: var(--percent-0);
    color: var(--white-color);
    border: var(--display-none);
    position: var(--position-absolute);
    background-color: var(--transparent) !important;
}

.play-icon-holder:hover {
    background-color: var(--main-blue-color);
}

.play-icon-holder {
    width: 50px;
    height: 50px;
    border-radius: var(--26-px);
    display: var(--display-flex);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    background-color: var(--main-blue-color);
}

.SixthSection {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
}

@media screen and (min-width:770px) {
    .SixthSection {
        flex-direction: var(--flex-direction-row);
    }

    .sectionsixthimage {
        width: 800px;
        height: 360px !important;
        object-fit: var(--object-fit-cover);
    }

    .selected-category-content {
        height: 360px;
    }

    .sectionsixth-text-holder {
        max-width: 500px;
        padding: var(--20-px) var(--40-px);
    }

    .category-holder {
        height: 50px;
        margin: var(--percent-0);
    }

    .sectionsixth-category-holder {
        gap: var(--20-px);
    }
}