.display-flex {
    display: var(--display-flex);
    align-items: var(--display-center);
}

.bgcolorWhite {
    gap: 10px;
    width: 360px;
    height: 60px;
    padding: 0 30px;
    background-color: white;
}

.sectionsixth-category-holder {
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bgcolorWhite:hover {
    color: var(--main-blue-color);
}

.sectionsixth-category-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-holder {
    cursor: pointer;
    margin: 10px 0;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 80%;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    color: #666;
}

.selected-category-content {
    margin-top: 20px;
    text-align: center;
}

.selected-category-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.sectionsixthimage{
    position: relative;
}

.display-flex {
    display: var(--display-flex);
    align-items: var(--display-center);
}

.bgcolorWhite {
    gap: 10px;
    width: 360px;
    height: 60px;
    padding: 0 30px;
    background-color: white;
}

.sectionsixth-category-holder {
    gap: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bgcolorWhite:hover {
    color: var(--main-blue-color);
}

.sectionsixth-category-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-holder {
    cursor: pointer;
    margin: 10px 0;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 80%;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    color: #666;
    /* Default text color */
}

.category-holder:hover,
.category-holder.selected {
    background-color: #f0f0f0;
    color: #2772FF;
    border-color: #2772FF;
}

.selected-category-content {
    margin-top: 20px;
    text-align: center;
    position: relative;
}

.selected-category-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.play-button {
    position: absolute;
    background-color: transparent;
    border: none;
    color: whitesmoke;
    top: 30%;
}

.play-icon-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-blue-color);
    width: 50px;
    height: 50px;
    border-radius: 25px;
}