.header-upper {
    width: 100%;
    height: 130px;
    gap: var(--20-px);
    display: var(--display-flex);
    text-align: var(--display-center);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    background-color: var(--grayish-color);
    flex-direction: var(--flex-direction-column);
}

.margin-bottom {
    margin-bottom: var(--6-px);
}

.margin-top {
    margin-top: var(--10-px);
}

.header-upper-down {
    width: 70%;
    height: 40px;
    gap: var(--30-px);
    display: var(--display-flex);
    text-align: var(--display-center);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    border-top: 1px solid var(--main-blue-line-color);
}

.header-a-tag {
    gap: var(--14-px);
    font-size: var(--14-px);
    color: var(--black-color);
    display: var(--display-flex);
    align-items: var(--display-center);
    font-weight: var(--400-font-weight);
    font-family: var(--Open-font-family);
    transition: var(--transition-medium);
    text-decoration: var(--display-none);
    justify-content: var(--display-center);
}

.header-a-tag:hover {
    color: var(--main-blue-color);
}

@media screen and (min-width:800px) {
    .header-upper {
        height: 50px;
        padding: 0 30px;
        flex-direction: var(--flex-direction-row);
    }

    .header-upper-up {
        width: 100%;
        gap: var(--40-px);
        display: var(--display-flex);
        align-items: var(--display-center);
        justify-content: var(--display-center);
        flex-direction: var(--flex-direction-row);
    }

    .header-upper-down {
        border: var(--display-none);
    }

    .margin-bottom {
        margin-bottom: var(--display-none);
    }

    .margin-top {
        margin-top: var(--display-none);
    }

    .header-lower {
        padding: 0 80px;
    }
}

.header-upper {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header-upper.hidden {
    opacity: 0;
    visibility: var(--hidden);
}

.header-lower {
    transition: top 0.3s ease;
    position: var(--position-relative);
}

.header-lower.sticky {
    top: 0;
    left: 0;
    z-index: 999;
    width: var(--percent-100);
    position: var(--position-fixed);
    background-color: var(--white-color);
}