.yellow-color {
    font-size: var(--18-px);
    color: var(--yellow-date-color);
    font-weight: var(--400-font-weight);
}

.events {
    border-radius: var(--10-px);
    padding: var(--20-px) var(--30-px);
    box-shadow:
        0px 0px 5.3px rgba(0, 0, 0, 0.028),
        0px 0px 17.9px rgba(0, 0, 0, 0.042),
        0px 0px 80px rgba(0, 0, 0, 0.07);
}

.center {
    display: var(--display-flex);
    align-items: var(--display-center);
}

.column {
    flex-direction: var(--flex-direction-column);
}

.events-holder {
    gap: var(--40-px);
    width: var(--vw-80);
    display: var(--display-flex);
    align-items: var(--display-center);
    padding: var(--percent-0) var(--30-px);
    flex-direction: var(--flex-direction-column);
}

.image-part-events {
    display: var(--display-flex);
    align-items: var(--display-center);
    justify-content: var(--display-center);
}

.font-size {
    font-size: var(--20-px);
}

.events-button {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    font-size: var(--14-px);
    border: var(--display-none);
    display: var(--display-flex);
    color: var(--main-blue-color);
    align-items: var(--display-center);
    font-weight: var(--600-font-weight);
    transition: var(--transition-medium);
    background-color: var(--white-color);
    justify-content: var(--display-center);
    border: 2px solid var(--main-blue-color);
}

.events-button:hover {
    color: var(--white-color);
    background-color: var(--main-blue-color);
}

.text-part-events{
    padding: var(--20-px) var(--percent-0);
}

@media screen and (min-width:780px) {
    .events {
        height: 300px;
        gap: var(--30-px);
        max-width: 1000px;
        display: var(--display-flex);
    }

    .text-part-events {
        padding: var(--percent-0);
        align-content: var(--display-space-around);
    }

    .events img {
        width: 160px;
    }
}