* {
    margin: 0;
    padding: 0;
    box-sizing: var(--border-sizing);
}

:root {
    /* Display properties */
    --display-flex: flex;
    --display-none: none;
    --display-grid: grid;
    --display-block: block;
    --display-inline: inline;
    --display-center: center;
    --flex-direction-row: row;
    --flex-direction-column: column;
    --display-inline-flex: inline-flex;
    --display-space-around: space-around;
    --display-inline-block: inline-block;
    --display-space-between: space-between;

    /* Position properties */
    --position-fixed: fixed;
    --position-relative: relative;
    --position-absolute: absolute;

    /* Text properties */
    --text-left: left;
    --text-right: right;
    --text-center: center;

    /* Percent */
    --percent-0: 0%;
    --percent-5: 5%;
    --percent-10: 10%;
    --percent-15: 15%;
    --percent-20: 20%;
    --percent-25: 25%;
    --percent-30: 30%;
    --percent-35: 35%;
    --percent-40: 40%;
    --percent-45: 45%;
    --percent-50: 50%;
    --percent-55: 55%;
    --percent-60: 60%;
    --percent-65: 65%;
    --percent-70: 70%;
    --percent-75: 75%;
    --percent-80: 80%;
    --percent-85: 85%;
    --percent-90: 90%;
    --percent-95: 95%;
    --percent-100: 100%;

    /* Pixels */
    --2-px: 2px;
    --4-px: 4px;
    --6-px: 6px;
    --8-px: 8px;
    --10-px: 10px;
    --12-px: 12px;
    --14-px: 14px;
    --16-px: 16px;
    --18-px: 18px;
    --20-px: 20px;
    --22-px: 22px;
    --24-px: 24px;
    --26-px: 26px;
    --28-px: 28px;
    --30-px: 30px;
    --32-px: 32px;
    --34-px: 34px;
    --36-px: 36px;
    --38-px: 38px;
    --40-px: 40px;

    /* Font-weight */
    --100-font-weight: 100;
    --200-font-weight: 200;
    --300-font-weight: 300;
    --400-font-weight: 400;
    --500-font-weight: 500;
    --600-font-weight: 600;
    --700-font-weight: 700;
    --800-font-weight: 800;
    --900-font-weight: 900;

    /* Colors */
    --white-color: #ffffff;
    --black-color: #000000;
    --twitter-blue: #1da1f2;
    --grayish-color: #F6F7FA;
    --instagram-red: #e4405f;
    --facebook-blue: #1877f2;
    --transparent: transparent;
    --text-gray-color: #626A77;
    --main-blue-color: #2772FF;
    --yellow-date-color: #F9B70C;
    --main-blue-line-color: #2773ff34;
    --gray-color: rgba(128, 128, 128, 0.232);
    --gray-card-holder-color: rgba(128, 128, 128, 0.389);

    /* Font-family */
    --Open-font-family: "Open Sans", sans-serif;

    /* Transitions */
    --transition-slow: 1s;
    --transition-fast: 0.2s;
    --transition-medium: 0.5s;

    /* Cursor */
    --cursor-pointer: pointer;
    --cursor-default: default;
    --cursor-not-allowed: not-allowed;

    /* Box-Sizing */
    --border-sizing: border-box;
    --content-sizing: content-box;

    /* Object-Fit */
    --object-fit-fill: fill;
    --object-fit-cover: cover;
    --object-fit-contain: contain;
    --object-fit-content: fit-content;

    /* Visibility */
    --auto: auto;
    --hidden: hidden;
    --visible: visible;

    /* MainPage padding for mobile */
    --main-page-padding: 74px 70px;
}

.yellow-color {
    font-size: var(--18-px);
    color: var(--yellow-date-color);
    font-weight: var(--400-font-weight);
}

.events {
    padding: 0 30px;
}

.center {
    display: var(--display-flex);
    align-items: var(--display-center);
}

.column {
    flex-direction: column;
}

.events-holder {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80vw;
    padding: 0 30px;
}

.image-part-events {
    align-items: center;
    display: flex;
    justify-content: center;
}

.font-size {
    font-size: var(--20-px);
}