.ContactUsTwoSectionContainer {
    margin-top: var(--vh-10);
    display: var(--display-flex);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.ContactUsTwoSectionContainer h1 {
    width: var(--percent-100);
    margin-bottom: var(--vh-5);
    text-align: var(--text-center);
}

.ContactUsTwoSectionContainer form {
    gap: 1vh;
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
}

.ContactUsTwoSectionContainer form #inputs,
textarea {
    width: var(--vw-30);
    padding: 17px var(--30-px);
    border-radius: var(--30-px);
    border: 1px solid var(--border-color);
    outline: var(--display-none);
    background-color: var(--grayish-color);
}

.ContactUsTwoSectionContainer form #inputs:focus,
textarea:focus {
    color: #626a77;
    outline: 1px solid #bababa;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.ContactUsTwoSectionContainer textarea {
    height: var(--vh-20);
    width: var(--percent-100);
    resize: var(--display-none);
}

.ContactUsTwoSectionContainer button {
    width: 139px;
    height: 49px;
    margin-top: 2vh;
    border-radius: 50px;
    font-size: var(--16-px);
    color: var(--main-blue-color);
    font-weight: var(--500-font-weight);
    display: var(--display-inline-block);
    transition: var(--transition-medium);
    background-color: var(--white-color);
    border: 2px solid var(--twitter-blue);
}

.ContactUsTwoSectionContainer button:hover {
    color: var(--white-color);
    cursor: var(--cursor-pointer);
    border: 2px solid var(--main-blue-color);
    background-color: var(--main-blue-color);
    box-shadow: 0px 20px 40px 0px rgba(68, 134, 254, 0.2);
}

.ContactUsTwoSectionContainer .ContactUsTwoSectionTopInputs,
.ContactUsTwoSectionContainer .ContactUsTwoSectionBottomInputs {
    gap: 1vh;
    display: var(--display-flex);
    align-items: var(--display-center);
}

@media (max-width: 1200px) {

    .ContactUsTwoSectionContainer form input,
    .ContactUsTwoSectionContainer textarea {
        width: var(--vw-40);
    }
}

@media (max-width: 992px) {

    .ContactUsTwoSectionContainer form input,
    .ContactUsTwoSectionContainer textarea {
        width: var(--vw-50);
    }
}

@media (max-width: 768px) {

    .ContactUsTwoSectionContainer form #inputs,
    textarea {
        width: var(--percent-100);
        resize: var(--display-none);
    }

    .ContactUsTwoSectionContainer .ContactUsTwoSectionTopInputs,
    .ContactUsTwoSectionContainer .ContactUsTwoSectionBottomInputs {
        gap: 1vh;
        flex-direction: var(--flex-direction-column);
    }

    .ContactUsTwoSectionContainer h1 {
        font-size: var(--22-px);
    }
}