.AboutFourSectionContainer {
    width: var(--percent-100);
    padding-top: var(--30-px);
    height: var(--percent-100);
    display: var(--display-flex);
    box-sizing: var(--border-sizing);
    align-items: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.AboutFourSectionText {
    line-height: 50px;
    margin-bottom: 1.5rem;
    width: calc(222px * 4 + 30px * 3);
    
}

.AboutFourSectionText h2 {
    font-size: 56px;
    font-weight: var(--400-font-weight);
}

.AboutFourSectionText i {
    color: #6C757D;
}

.AboutFourSectionContainer .AboutFourCardSection {
    gap: var(--30-px);
    grid-template-rows: 244px;
    display: var(--display-grid);
    grid-template-columns: 222px 222px 222px 222px;
}

.AboutFourSectionCardItem {
    border-radius: var(--6-px);
    display: var(--display-flex);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    flex-direction: var(--flex-direction-column);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.AboutFourSectionCardItem h5 {
    font-size: var(--18-px);
    font-weight: var(--700-font-weight);
}

.AboutFourSectionCardItem p {
    font-size: var(--10-px);

}

.AboutFourSectionCardItem .RoundDiv {
    width: 80px;
    border-radius: 50px;
    margin-bottom: var(--20-px);
    border: 1px solid rgba(128, 128, 128, 0.508);
}

.AboutFourSectionCardItem .RoundDiv img {
    transform: scale(0.9);
    width: var(--percent-100);
    display: var(--display-flex);
    border-radius: var(--percent-50);
    align-items: var(--display-center);
}

@media only screen and (max-width: 767px) {

    .AboutFourSectionContainer .AboutFourCardSection {
        grid-template-rows: 244px 244px;
        grid-template-columns: 222px 222px;
    }

    .AboutFourSectionText {
        text-align: var(--text-center);
    }
}