* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AboutFourSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 5vh;
}

.AboutFourSectionText {
    margin-bottom: 1.5rem;
    line-height: 50px;
    width: calc(222px * 4 + 30px * 3);
    
}

.AboutFourSectionText h2 {
    font-size: 56px;
    font-weight: 400;
}

.AboutFourSectionText i {
    color: #6C757D;
}

.AboutFourSectionContainer .AboutFourCardSection {
    display: grid;
    grid-template-columns: 222px 222px 222px 222px;
    grid-template-rows: 244px;
    gap: 30px;
}

.AboutFourSectionCardItem {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AboutFourSectionCardItem h5 {
    font-size: 18px;
    font-weight: 700;
}

.AboutFourSectionCardItem p {
    font-size: 10px;

}

.AboutFourSectionCardItem .RoundDiv {
    width: 80px;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.508);
    margin-bottom: 20px;
}

.AboutFourSectionCardItem .RoundDiv img {
    width: 100%;
    border-radius: 50%;
    transform: scale(0.9);
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 767px) {

    .AboutFourSectionContainer .AboutFourCardSection {
        grid-template-columns: 222px 222px;
        grid-template-rows: 244px 244px;
    }

    .AboutFourSectionText {
        text-align: center;
    }
}