* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.InstructorTwoSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.InstructorTwoSectionTextPart {
    text-align: center;
    margin: 5vh 0;
}

.InstructorTwoSectionTextPart h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1vh;
    color: #0b1c39;
}

.InstructorTwoSectionTextPart p {
    font-size: 15px;
    color: #626a77;
    max-width: 28vw;
    line-height: 25px;
    font-weight: 400;
}

.InstructorTwoSectionCardsPart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    gap: 15px;
}

.InstructorTwoSectionCardsPart .InstructorTwoSectionCard {
    overflow: hidden;
}

.InstructorTwoSectionCardUpPart:hover .InstructorTwoSectionCardSocials {
    right: 0;
}

.InstructorTwoSectionCardUpPart {
    overflow: hidden;
    position: relative;
}

.InstructorTwoSectionCardUpPart img {
    transition: 0.5s;
    cursor: pointer;
    height: 300px;
    width: 100%;
}

.InstructorTwoSectionCardsPart .InstructorTwoSectionCard:hover .InstructorTwoSectionCardUpPart img {
    transform: scale(1.08);
}

.InstructorTwoSectionCard .InstructorTwoSectionCardSocials {
    position: absolute;
    right: 320px;
    top: 0;
    background-color: #0b1c3991;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    transition: 0.5s;
    height: 100%;
}

.InstructorTwoSectionCard .InstructorTwoSectionCardSocials .InstructorSocials:first-child:hover {
    background: linear-gradient(to right,
            #833ab4, #fd1d1d, #fcb045);
            cursor: pointer;
            transform: translateX(6px);
}

.InstructorTwoSectionCard .InstructorTwoSectionCardSocials .InstructorSocials:nth-child(2):hover {
    background-color: #0e76a8;
    cursor: pointer;
    transform: translateX(6px);
}

.InstructorTwoSectionCard .InstructorTwoSectionCardSocials .InstructorSocials:nth-child(3):hover {
    background-color: #1DA1F2;
    cursor: pointer;
    transform: translateX(6px);
}

.InstructorTwoSectionCard .InstructorTwoSectionCardSocials .InstructorSocials:last-child:hover {
    background: linear-gradient(to right,
            #00c6ff, #0072ff);
            cursor: pointer;
            transform: translateX(6px);
}

.InstructorTwoSectionCard .InstructorTwoSectionCardSocials .InstructorSocials:hover a {
    color: white;
}

.InstructorTwoSectionCard .InstructorTwoSectionCardSocials a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.InstructorTwoSectionCardUpPart>img:hover .InstructorTwoSectionCardSocials {
    position: absolute;
    left: 320px;
    top: 0;
}

.InstructorTwoSectionCard .InstructorTwoSectionCardSocials .InstructorSocials {
    background-color: white;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.InstructorTwoSectionCardDownPart{
    margin-top: 2vh;
    line-height: 25px;
    font-weight: 600;
}
.InstructorTwoSectionCardDownPart p {
    color: #626a77;
}

@media (max-width: 1200px) {
    .InstructorTwoSectionCardsPart {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 992px) {
    .InstructorTwoSectionCardsPart {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media (max-width: 768px) {
    .InstructorTwoSectionCardsPart {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .InstructorTwoSectionTextPart h2 {
        font-size: 25px;
    }

    .InstructorTwoSectionTextPart p {
        max-width: 70vw;
    }

    .InstructorTwoSectionCard {
        margin-bottom: 20px;
    }


    .InstructorTwoSectionCardUpPart:hover .InstructorTwoSectionCardSocials {
        right: 0;
    }
}