* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Open-font-family);
}

.PagesBackground {
  background-image: url(../../../../assets/Pages/PagesBackImg.png);
  background-size: cover;
  height: 100%;
  /* background-attachment: fixed; */
  background-position: 50% 0px;
}

.BackgorundText {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}

.BackgorundText .UpText h2 {
  font-size: 50px;
  font-weight: 700;
  color: var(--white-color);
  margin: 0;
}

.DownText {
  display: flex;
  align-items: center;
  font-size: var(--14-px);
  gap: var(--10-px);
  color: var(--white-color);
}

.DownText a {
  text-decoration: none;
  color: var(--white-color);
}

@media only screen and (max-width: 767px) {
  .PagesBackground {
    height: 40vh;
  }
  .BackgorundText .UpText h2{
    font-size: 25px;
  }
}