.PagesBackground {
  height: var(--percent-100);
  background-size: var(--object-fit-cover);
  background-position: var(--percent-50) var(--percent-0);
  background-image: url(../../../../assets/Pages/PagesBackImg.png);
}

.BackgorundText {
  height: var(--percent-100); 
  display: var(--display-flex);
  align-items: var(--display-center); 
  justify-content: var(--display-center); 
  flex-direction: var(--flex-direction-column);
}

.BackgorundText .UpText h2 {
  font-size: 50px;
  margin: var(--percent-0);
  color: var(--white-color);
  font-weight: var(--700-font-weight);
}

.DownText {
  gap: var(--10-px);
  font-size: var(--14-px);
  color: var(--white-color);
  display: var(--display-flex);
  align-items: var(--display-center);
}

.DownText a {
  color: var(--white-color);
  text-decoration: var(--display-none);
}

@media only screen and (max-width: 767px) {
  .PagesBackground {
    height: var(--vh-40);
  }
  .BackgorundText .UpText h2{
    font-size: var(--26-px);
  }
}