

.sectionfirst {
    gap: 50px;
    max-width: 1350px;
    display: var(--display-flex);
    padding: var(--main-page-padding);
    align-items: var(--display-center);
    margin: var(--percent-0) var(--auto);
    justify-content: var(--display-center);
    background-color: var(--grayish-color);
    flex-direction: var(--flex-direction-column);
}

.sectionfirst::after{
    content: "";
    z-index: -1;
    margin-top: 54px;
    width: var(--vw-100);
    left: var(--percent-0);
    height: var(--percent-100);
    position: var(--position-absolute);
    background-color: var(--grayish-color);
}

.sectionfirst::before{
    content: "";
    z-index: -1;
    margin-top: 54px;
    width: var(--vw-100);
    right: var(--percent-0);
    height: var(--percent-100);
    position: var(--position-absolute);
    background-color: var(--grayish-color);
}

.sectionsecond {
    display: var(--display-flex);
    padding: 74px var(--percent-0);
    padding: var(--main-page-padding);
    flex-direction: var(--flex-direction-column);
}

.sectioneight{
    margin: var(--percent-0) var(--auto);
}

.sectionthird {
    display: var(--display-flex);
    padding: var(--main-page-padding);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    background-color: var(--grayish-color);
    flex-direction: var(--flex-direction-column);
}

.sectionfourth {
    padding: var(--20-px) 74px;
    display: var(--display-flex);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.sectionfifth {
    gap: var(--30-px);
    padding-bottom: 70px;
    display: var(--display-flex);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.sectionsixth {
    display: var(--display-flex);
    padding: var(--main-page-padding);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    background-color: var(--grayish-color);
    flex-direction: var(--flex-direction-column);
}

.sectionseventh {
    display: var(--display-flex);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    background-color: var(--grayish-color);
    flex-direction: var(--flex-direction-column);
}

@media screen and (min-width:1230px) {
    .sectionfirst {
        flex-direction: var(--flex-direction-row);
    }
}