

.sectionfirst {
    gap: 50px;
    margin: 0 auto;
    max-width: 1350px;
    display: var(--display-flex);
    padding: var(--main-page-padding);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    background-color: var(--grayish-color);
    flex-direction: var(--flex-direction-column);
}

.sectionfirst::after{
    content: "";
    background-color: var(--grayish-color);
    height: 100%;
    margin-top: 54px;
    position: absolute;
    width: 100vw;
    z-index: -1;
    left: 0;
}

.sectionfirst::before{
    content: "";
    background-color: var(--grayish-color);
    height: 100%;
    margin-top: 54px;
    position: absolute;
    width: 100vw;
    z-index: -1;
    right: 0;
}

.sectionsecond {
    display: var(--display-flex);
    padding: 74px 0;
    padding: var(--main-page-padding);
    flex-direction: var(--flex-direction-column);
}

.sectioneight{
    margin: 0 auto;
}

.sectionthird {
    display: var(--display-flex);
    padding: var(--main-page-padding);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    background-color: var(--grayish-color);
    flex-direction: var(--flex-direction-column);
}

.sectionfourth {
    display: var(--display-flex);
    padding: 20px 74px;
    /* padding: var(--main-page-padding); */
    align-items: var(--display-center);
    justify-content: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.sectionfifth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 70px;
}

.sectionsixth {
    display: var(--display-flex);
    /* padding: 74px 30px; */
    padding: var(--main-page-padding);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    background-color: var(--grayish-color);
    flex-direction: var(--flex-direction-column);
}

.sectionseventh {
    background-color: #FCFCFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1230px) {
    .sectionfirst {
        flex-direction: row;
    }
}