.LiveClassContainerBodys {
    width: var(--percent-100);
    height: var(--percent-100);
    margin-bottom: var(--vh-5);
    margin-top: var(--vh-5);
    display: var(--display-flex);
    align-items: var(--display-center);
    font-family: var(--Open-font-family);
    justify-content: var(--display-center);
}

.LiveClassContainer {
    overflow: var(--hidden);
    grid-template-rows: 785px;
    border-radius: var(--8-px);
    display: var(--display-grid);
    min-width: var(--percent-100);
    grid-template-columns: 767px 379px;
    margin: var(--percent-0) var(--auto);
    justify-content: var(--display-center);
}

.LiveClassContainer .left-section {
    flex: 1;
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
}

.LiveClassContainer .image-section {
    flex: 1;
    overflow: var(--hidden);
}

.LiveClassContainer .image-section img {
    height: var(--auto);
    width: var(--percent-100);
}

.LiveClassContainer .text-section {
    color: #555;
    font-size: 0.9em;
    padding: var(--20-px);
}

.LiveClassContainer .text-section p {
    font-size: var(--16-px);
    line-height: var(--30-px);
    margin-bottom: var(--16-px);
    color: var(--text-gray-color);
}

.LiveClassContainer .details-section {
    flex: 1;
    padding-left: var(--20-px);
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    justify-content: var(--display-space-between);
}
.LiveClassContainer .details-section b{
    margin-bottom: 1vh;
}
.LiveClassContainer .countdown {
    margin-bottom: var(--20-px);
    display: var(--display-flex);
    justify-content: var(--display-space-between);
}

.LiveClassContainer .time {
    text-align: var(--text-center);
}

.LiveClassContainer .time .number {
    font-size: 2em;
    font-weight: var(--800-font-weight);
}

.LiveClassContainer .time .label {
    color: #666;
    font-size: 0.8em;
}

.LiveClassContainer .details {
    margin-bottom: var(--20-px);
    background-color: #f2f2f2;
}

.LiveClassContainer .details h2 {
    padding: 5px 15px;
    color: var(--white-color);
    box-sizing: var(--border-sizing);
    background-color: var(--black-color);
}

.LiveClassContainer .details p {
    padding: var(--10-px);
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
}

.LiveClassContainer .buttons {
    gap: var(--10-px);
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
}

.LiveClassContainer button {
    font-size: 1em;
    padding: var(--10-px);
    border-radius: var(--6-px);
    border: var(--display-none);
    cursor: var(--cursor-pointer);
}

.LiveClassContainer .zoom {
    color: var(--white-color);
    background-color: #b1411e;
}

.LiveClassContainer .web {
    color: var(--white-color);
    background-color: #a35739;
}

.LiveClassContainer .start {
    color: var(--white-color);
    background-color: var(--twitter-blue);
}

@media (max-width: 767px) {
    .LiveClassContainer {
        grid-template-columns: 1fr;
        padding: 0 80px;
    }

    .LiveClassContainer .left-section {
        order: 1;
    }

    .LiveClassContainer .details-section {
        order: 2;
    }
}