*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.AboutTwoContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 65vh;
    padding: 10vw;
    margin-top: 5vh;
}

.AboutTwoSectionLeftSide h1{
    font-size: 56px;
    font-weight: var(--400-font-weight);
    color: rgb(50,64,89);
}
.AboutTwoSectionLeftSide p{
    font-size: 20px;
    color: gray;
    max-width: 30vw;
}
.AboutTwoSectionRightSide{
    max-width: 35vw;
    font-size: 6px;
}

@media only screen and (max-width: 767px){
    .AboutTwoContainer{
        flex-direction: column;
        height: 35vh;
    }
    .AboutTwoSectionLeftSide h1{
        font-size: 32px;
        font-weight: 400;
    }
    .AboutTwoSectionLeftSide p{
        max-width: 58vw;
    }
    .AboutTwoSectionRightSide img{
        display: none;
    }
}
