.app-myprofile{
    max-width: 1250px;
    height: var(--percent-100);
    display: var(--display-flex);
    position: var(--position-relative);
    margin: var(--percent-0) var(--auto);
    background-color: var(--grayish-color);
    padding: 80px var(--20-px) var(--percent-0) var(--20-px);
}

.sidebar ul li{
    cursor: pointer;
}

.app-myprofile::before{
    content: "";
    z-index: -1;
    width: var(--vw-100);
    right: var(--percent-0);
    bottom: var(--percent-0);
    height: var(--percent-100);
    position: var(--position-absolute);
    background-color: var(--grayish-color);
}

.app-myprofile::after{
    content: "";
    z-index: -1;
    width: var(--vw-100);
    left: var(--percent-0);
    bottom: var(--percent-0);
    height: var(--percent-100);
    position: var(--position-absolute);
    background-color: var(--grayish-color);
}

@media screen and (max-width:800px){
    .app-myprofile{
        flex-direction: var(--flex-direction-column);
    }

    .sidebar ul li{
        min-width: 80px;
    }

    .sidebar ul{
        display: var(--display-flex);
    }

    .sidebar ul p{
        display: var(--display-none);
    }

    .sidebar .icon{
        display: var(--display-none);
    }
}