.app-myprofile{
    display: flex;
    background-color: #f8f9fa;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding: 80px 20px 0 20px;
}

.app-myprofile::before{
    content: "";
    position: absolute;
    background-color: #f8f9fa;
    width: 100vw;
    height: 100%;
    z-index: -1;
    bottom: 0;
    right: 0;
}

.app-myprofile::after{
    content: "";
    position: absolute;
    background-color: #f8f9fa;
    width: 100vw;
    height: 100%;
    z-index: -1;
    bottom: 0;
    left: 0;
}

@media screen and (max-width:800px){
    .app-myprofile{
        flex-direction: column;
    }

    .sidebar ul li{
        min-width: 80px;
    }

    .sidebar ul{
        display: flex;
    }

    .sidebar ul p{
        display: none;
    }

    .sidebar .icon{
        display: none;
    }
}