*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.MyProfileTwoSectionontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 40vh;
}
.MyProfileTwoSectionLeftSide ul{
    list-style: none;
}
.MyProfileTwoSectionLeftSide ul li:first-child{
    background-color: #2572ff;
    color: white;
}
.MyProfileTwoSectionLeftSide ul li:first-child span{
    color: white;
}
.MyProfileTwoSectionLeftSide ul li:first-child a{
    color: white;
}
.MyProfileTwoSectionLeftSide ul li{
    font-size: 17px;
    text-align: center;
    display: flex;
    width: 268px;
    height: 53px;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 500;
    transition: 0.5s;
}  
.MyProfileTwoSectionLeftSide ul a {
    text-decoration: none;
    color: black;
    display: flex;
}

.MyProfileTwoSectionLeftSide ul li::after{
    content: '❯';
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    transition: 0.5s;
}
.MyProfileTwoSectionLeftSide ul li:hover::after {
    transform: rotate(180deg); 
}

.MyProfileTwoSectionLeftSide ul li span{
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: #2572ff;
    transition: 0.5s;
}
.MyProfileTwoSectionLeftSide ul li:hover{
    background-color: #2572ff;
    color: white;
    cursor: pointer;
}
.MyProfileTwoSectionLeftSide ul li:hover span{
    color: white;
}
