.sectionfirst-htag {
    font-size: var(--20-px); 
    font-weight: var(--700-font-weight);
    margin: var(--14-px) var(--percent-0);
}

.sectionfirst-ptag {
    font-size: var(--16-px);
    color: var(--text-gray-color);
}

.sectionfirst-image {
    width: 56px;
}

.map-holder {
    gap: var(--40-px);
    grid-template-columns: 1fr;
    display: var(--display-grid);
}

@media screen and (min-width:600px) {
    .map-holder {
        display: var(--display-grid);
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:700px) {
    .sectionfirst__item {
        max-width: 200px;
        margin-right: 50px;
        margin-top: var(--20-px);
        align-items: var(--flex-start);
        justify-content: var(--flex-start);
    }

    .sectionfirst {
        padding-left: 170px;
        padding-top: var(--20-px);
        justify-content: var(--flex-start);
    }

    .inputs input {
        height: 50px;
        border-radius: var(--26-px);
    }

    .inputs #select {
        height: 50px;
        border-radius: var(--26-px);
    }

    .inputs-button {
        height: 60px !important;
        border-radius: var(--30-px) !important ;
    }

    .map-holder {
        gap: var(--40-px);
    }
}