.AboutThreeSectionContainer {
    height: 89vh;
    gap: var(--30-px);
    padding-top: 50px;
    background-color: #F8F9FA;
    display: var(--display-flex);
    align-items: var(--display-center);
    flex-direction: var(--flex-direction-column);
    justify-content: var(--display-space-around);
}

.AboutThreeSectionContainer .AboutThreeSectionUp {
    gap: 60px;
    width: var(--vw-55);
    display: var(--display-flex);
    align-items: var(--display-center);
}

.AboutThreeSectionUpLeft {
    gap: var(--16-px);
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
}

.AboutThreeSectionUpLeft h2 {
    font-size: var(--40-px);
    font-weight: var(--400-font-weight);
}

.AboutThreeSectionUpLeft p {
    color: gray;
    max-width: 27vw;
    font-style: italic;
}

.AboutThreeSectionUpLeft button {
    width: 180px;
    height: 45px;
    border-radius: 50px;
    font-size: var(--16-px);
    border: 2px solid #7aa8fd;
    color: var(--main-blue-color);
    cursor: var(--cursor-pointer);
    font-weight: var(--500-font-weight);
    transition: var(--transition-medium);
    background-color: var(--white-color);
}

.AboutThreeSectionUpLeft button a {
    color: var(--main-blue-color);
    transition: var(--transition-medium);
    text-decoration: var(--display-none);
}

.AboutThreeSectionUpLeft button:hover {
    background-color: var(--main-blue-color);
}

.AboutThreeSectionUpLeft button:hover a {
    color: var(--white-color);
}

.AboutThreeSectionUpRight {
    display: var(--display-flex);
    align-items: var(--display-center);
    flex-direction: var(--flex-direction-column);
}

.AboutThreeSectionUpRight img {
    width: var(--vw-20);
}

@media only screen and (max-width: 767px) {
    .AboutThreeSectionContainer{
        height: var(--percent-100);
        padding-bottom: var(--vh-10);
    }
    .AboutThreeSectionContainer .AboutThreeSectionUp {
        flex-direction: var(--flex-direction-column-reverse);
    }

    .AboutThreeSectionUpLeft h2 {
        font-size: var(--36-px);
    }

    .AboutThreeSectionUpLeft p {
        font-size: var(--14-px);
        max-width: var(--vw-45);
    }
    .AboutThreeSectionUpRight img{
        width: var(--vw-30);
    }
}