.countdowntimer {
    height: 70px;
    display: var(--display-flex);
    margin-top: var(--percent-0);
    justify-content: var(--display-space-between);
    border-top: 1px solid var(--main-blue-line-color);
}

.countdowntimer div {
    display: var(--display-flex);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    flex-direction: var(--flex-direction-column);
}