.blogimage {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: min(var(--vw-70), 500px);
}

.blogcard {
    border-radius: 10px;
    padding-bottom: 40px;
    max-width: min(70vw, 500px);
    border: 1px solid lightgray;
    transition: var(--transition-fast);
}

.blogcard:hover {
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.452);
}

.cardholderblog {
    gap: 50px;
    padding: 50px 0;
    max-width: 1150px;
    margin: 0 var(--auto);
    display: var(--display-flex);
    flex-wrap: var(--flex-wrap-wrap);
    justify-content: var(--display-center);
}

.blogcardinfotexttwo {
    gap: 30px;
    display: var(--display-flex);
    text-align: var(--text-left);
    flex-direction: var(--flex-direction-column);
}

.blogcardinfotext {
    display: var(--display-flex);
    margin: var(--20-px) var(--percent-0);
    justify-content: var(--display-space-between);
}

.blogtextholder {
    padding: var(--percent-0) var(--20-px);
}

.blogcardicon {
    margin-top: 3px;
}

.blogcardbtn {
    gap: var(--10-px);
    font-size: var(--16-px);
    color: var(--black-color);
    border: var(--display-none);
    display: var(--display-flex);
    align-self: var(--flex-start);
    align-items: var(--display-center);
    transition: var(--transition-fast);
    font-weight: var(--500-font-weight);
    text-decoration: var(--display-none);
    background-color: var(--transparent);
}

.blogcardbtn:hover {
    cursor: var(--cursor-pointer);
    color: var(--main-blue-color);
}

.course_pages button {
    display: var(--display-flex);
    transition: var(--transition-fast);
    align-items: var(--display-center);
    justify-content: var(--display-center);
}

.course_pages button:hover {
    color: var(--white-color);
    background-color: var(--main-blue-color);
}

.blogcardinfotext p {
    gap: var(--10-px);
    display: var(--display-flex);
    align-items: var(--display-center);
    color: var(--text-second-gray-color);
}

.blogcardinfotexttwo p {
    color: var(--text-second-gray-color);
}

.blogcardinfotexttwo h1 {
    cursor: var(--cursor-pointer);
    transition: var(--transition-fast);
}

.blogcardinfotexttwo h1:hover {
    color: var(--main-blue-color);
}