.blogimage {
    max-width: min(70vw, 500px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blogcard {
    border-radius: 10px;
    padding-bottom: 40px;
    max-width: min(70vw, 500px);
    border: 1px solid lightgray;
    transition: var(--transition-fast);
}

.blogcard:hover{
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.452);
}

.cardholderblog {
    gap: 50px;
    display: flex;
    margin: 0 auto;
    padding: 50px 0;
    flex-wrap: wrap;
    max-width: 1150px;
    justify-content: center;
}

.blogcardinfotexttwo {
    gap: 30px;
    display: flex;
    text-align: left !important;
    flex-direction: column;
}

.blogcardinfotext {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.blogtextholder {
    padding: 0 20px;
}

.blogcardicon{
    margin-top: 3px;
}

.blogcardbtn{
    gap: 10px;
    border: none;
    display: flex;
    color: black;
    font-size: 16px;
    align-items: center;
    text-decoration: none;
    align-self: flex-start;
    background-color: transparent;
    transition: var(--transition-fast);
    font-weight: var(--500-font-weight);
}

.blogcardbtn:hover {
    cursor: var(--cursor-pointer);
    color: var(--main-blue-color);
}

.course_pages button{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-fast);
}

.course_pages button:hover{
    color: var(--white-color);
    background-color: var(--main-blue-color);
}

.blogcardinfotext p {
    gap: 10px;
    display: flex;
    align-items: center;
    color: rgb(93, 92, 92);
}

.blogcardinfotexttwo p {
    color: rgb(93, 92, 92);
}

.blogcardinfotexttwo h1 {
    cursor: var(--cursor-pointer);
    transition: var(--transition-fast);
}

.blogcardinfotexttwo h1:hover {
    color: var(--main-blue-color);
}