.sidebar {
    width: 200px;
    padding: var(--20-px);
    color: var(--white-color);
}

.sidebar ul {
    list-style-type: var(--display-none);
}

.left-icon{
    color: var(--main-blue-color);
}

.sidebar-item {
    color: var(--black-color);
    display: var(--display-flex);
    padding: var(--20-px) !important;
    align-items: var(--display-center);
    justify-content: var(--display-space-between);
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-item.active {
    color: var(--white-color);
    background-color: var(--main-blue-color);
}

.sidebar-item.active .left-icon {
    color: var(--white-color);
}

.sidebar-item:hover .left-icon {
    color: var(--white-color);
}

.sidebar-item:hover {
    color: var(--white-color);
    background-color: var(--main-blue-color);
}

.sidebar-item:hover .icon {
    transform: rotate(180deg);
}

.sidebar-item.active .icon {
    transform: rotate(180deg);
}

.icon {
    margin-left: var(--10-px);
    transition: var(--transition-fast);
}