.last-section-holder::before {
    content: "";
    background-image: url(../../../assets/sectioneights.png);
    height: 80%;
    width: 100vw;
    position: absolute;
    z-index: -1;
}
.last-section-holder {
    width: 100%;
    height: 560px;
    padding: 50px 70px;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.quote-holder p:first-child {
    line-height: 26px;
    font-size: 18px;
}

.quote-holder {
    height: 240px;
    display: var(--display-flex);
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.profile-pic {
    width: 60px;
    border-radius: 40px;
    border: 5px solid white;
    box-sizing: content-box;
}

.last-section-holder {
    position: relative;
}

.dots-last-section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}

.last-section-hone {
    font-size: 20px !important;
}

.last-section-holder .dot {
    margin: 20px 5px 0 5px;
}

.profile-holder-eighthsection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.last-section-left {
    display: flex;
    flex-direction: column;
    min-height: 180px;
    justify-content: space-between;
    margin: auto 0;
}

.last-section-holder h1 {
    font-size: 38px;
}

.button-holder-last-section button:first-child {
    margin-right: 10px;
}

.button-holder-last-section button:hover .color-icon {
    color: var(--main-blue-color) !important;
}

.color-icon{
    color: var(--white-color);
}

.button-holder-last-section button:hover {
    background-color: #fff;
}

.button-holder-last-section button {
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.button-holder-last-section {
    display: flex;
}

.dot {
    height: 10px;
    width: 10px;
}

.dot.active {
    background-color: var(--main-blue-color);
}

@media screen and (min-width:870px) {
    .last-section-holder {
        height: 430px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .quote-holder {
        height: 260px;
        max-width: 400px;
        margin: auto 0;
    }

    .dot {
        margin: 20px 5px;
    }
}