.last-section-holder::before {
    content: "";
    z-index: -1;
    width: var(--vw-100);
    top: var(--percent-0);
    left: var(--percent-0);
    height: var(--percent-100);
    position: var(--position-absolute);
    background-image: url(../../../assets/sectioneights.png);
}

.last-section-holder::after {
    content: "";
    z-index: -1;
    width: var(--vw-100);
    top: var(--percent-0);
    right: var(--percent-0);
    height: var(--percent-100);
    position: var(--position-absolute);
    background-image: url(../../../assets/sectioneights.png);
}

.last-section-holder {
    height: 560px;
    gap: var(--40-px);
    padding: 50px 70px;
    width: var(--percent-100);
    color: var(--white-color);
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column-reverse);
}

.quote-holder p:first-child {
    font-size: var(--18-px);
    line-height: var(--26-px);
}

.quote-holder {
    height: 240px;
    display: var(--display-flex);
    align-content: var(--display-space-between);
    flex-direction: var(--flex-direction-column);
    justify-content: var(--display-space-between);
}

.profile-pic {
    width: 60px;
    border-radius: var(--40-px);
    box-sizing: var(--content-sizing);
    border: 5px solid var(--white-color);
}

.last-section-holder {
    position: var(--position-relative);
}

.dots-last-section {
    margin-top: var(--10-px);
    display: var(--display-flex);
    justify-content: var(--display-center);
}

.dot {
    width: var(--10-px);
    height: var(--10-px);
    cursor: var(--cursor-pointer);
    border-radius: var(--percent-50);
    background-color: var(--gray-color);
    margin: var(--percent-0) var(--6-px);
}

.dot.active {
    background-color: var(--black-color);
}

.last-section-hone {
    font-size: var(--20-px) !important;
}

.last-section-holder .dot {
    margin: var(--20-px) var(--6-px) var(--percent-0) var(--6-px);
}

.profile-holder-eighthsection {
    gap: var(--20-px);
    display: var(--display-flex);
    align-items: var(--display-center);
}

.last-section-left {
    min-height: 180px;
    margin: var(--auto) 0;
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    justify-content: var(--display-space-between);
}

.last-section-holder h1 {
    font-size: var(--38-px);
}

.button-holder-last-section button:first-child {
    margin-right: var(--10-px);
}

.button-holder-last-section button:hover .color-icon {
    color: var(--main-blue-color) !important;
}

.color-icon {
    color: var(--white-color);
}

.button-holder-last-section button:hover {
    background-color: var(--white-color);
}

.button-holder-last-section button {
    width: 50px;
    height: 50px;
    border-radius: var(--30-px);
    display: var(--display-flex);
    align-items: var(--display-center);
    transition: var(--transition-medium);
    background-color: var(--transparent);
    border: 1px solid var(--white-color);
    justify-content: var(--display-center);
}

.button-holder-last-section {
    display: var(--display-flex);
}

.dot {
    width: var(--10-px);
    height: var(--10-px);
}

.dot.active {
    background-color: var(--main-blue-color);
}

@media screen and (min-width:870px) {
    .last-section-holder {
        height: 430px;
        display: var(--display-flex);
        flex-direction: var(--flex-direction-row);
        justify-content: var(--display-space-around);
    }

    .quote-holder {
        height: 260px;
        max-width: 400px;
        margin: var(--auto) var(--percent-0);
    }

    .dot {
        margin: var(--20-px) var(--6-px);
    }
}