.dashboard {
    flex: 1;
    height: 500px;
    padding: var(--20-px);
    display: var(--display-flex);
    flex-wrap: var(--flex-wrap-wrap);
    justify-content: var(--display-space-around);
}

.dahboard-card {
    height: 150px;
    margin: var(--10-px);
    padding: var(--20-px);
    border-radius: var(--6-px);
    flex-basis: calc(33% - 40px);
    text-align: var(--text-center);
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}