.footerContainer {
    background-color: #f6f7fa;
}

footer {
    height: 150vh;
    gap: var(--20-px);
    padding: 53px 69px;
    width: var(--percent-100);
    display: var(--display-flex);
    text-align: var(--text-left);
    flex-direction: var(--flex-direction-column);
    position: relative;
}

footer hr {
    border: none;
    border-top: 1px solid #cccccc93;
}

.AnimationBox {
    position: relative;
    bottom: 180px;
    left: 20px;
}

.AnimationBox .TriangleBox {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #F7E6E0;
    animation: triangleAnimation 4s infinite alternate ease-in-out;
    animation-delay: 1s;
    transition: all 7s ease 2s;
    user-select: none;
}

.AnimationBox .CircleBox {
    position: absolute;
    top: 8%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: #DEE8FB;
    border-radius: 50%;
    animation: circleAnimation 4s infinite alternate ease-in-out;
    animation-delay: 1s;
    transition: all 5s ease 3s;
    user-select: none;
}

@keyframes triangleAnimation {
    0% {
        transform: translateY(10px) translateX(0) rotate(0) scale(1);
        opacity: 0.9;
    }

    20% {
        transform: translateY(20px) translateX(10px) rotate(-20deg) scale(0.8);
        opacity: 0.8;
    }

    40% {
        transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.75);
        opacity: 0.8;
    }

    40% {
        transform: translateY(-15px) translateX(-25px) rotate(10deg) scale(0.5);
        opacity: 1;
    }

    80% {
        transform: translateY(-30px) translateX(20px) rotate(-20deg) scale(0.75);
        opacity: 0.6;
    }

    100% {
        transform: translateY(15px) translateX(15px) rotate(0) scale(0.95);
        opacity: 0.7;
    }
}

@keyframes circleAnimation {
    0% {
        transform: translateY(0px) translateX(0) rotate(0) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: translateY(-10px) translateX(-10px) rotate(2deg) scale(0.9);
        opacity: 0.9;
    }

    100% {
        transform: translateY(-20px) translateX(-20px) rotate(0) scale(1);
        opacity: 0.85;
    }
}

.footer-first-div-holder {
    min-height: 220px;
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    justify-content: var(--display-space-between);
}

.footer-logo {
    width: 160px;
}

.footer-a-tag {
    gap: var(--14-px);
    font-size: var(--16-px);
    display: var(--display-flex);
    text-align: var(--text-left);
    color: var(--main-blue-color);
    align-items: var(--display-center);
    font-weight: var(--400-font-weight);
    font-family: var(--Open-font-family);
    transition: var(--transition-medium);
    text-decoration: var(--display-none);
}

.footer-a-tag:hover {
    color: var(--main-blue-color);
}

footer a {
    color: var(--black-color);
    max-width: var(--object-fit-content);
    text-decoration: var(--display-none);
}

.footerul {
    margin-top: 20px;
    gap: var(--8-px);
    display: var(--display-flex);
    list-style: var(--display-none);
    flex-direction: var(--flex-direction-column);
}

.footerul li:first-child {
    font-size: var(--24-px);
    color: var(--black-color);
    margin-bottom: var(--4-px);
    font-weight: var(--600-font-weight);
}

.footerul li {
    font-size: var(--18-px);
    color: var(--text-gray-color);
}

.copyright-text {
    margin-top: var(--20-px);
    text-align: var(--text-center);
}

.text-gray {
    color: var(--text-gray-color);
}

.wrapper {
    height: 120px;
    width: var(--percent-100);
    padding-top: var(--40-px);
    list-style: var(--display-none);
    justify-content: var(--text-center);
    display: var(--display-inline-flex);
    font-family: var(--Open-font-family);
}

.wrapper .icon {
    width: 50px;
    height: 50px;
    margin: var(--10-px);
    font-size: var(--18-px);
    display: var(--display-flex);
    cursor: var(--cursor-pointer);
    background: var(--white-color);
    border-radius: var(--percent-50);
    position: var(--position-relative);
    align-items: var(--display-center);
    justify-content: var(--display-center);
    flex-direction: var(--flex-direction-column);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    top: 0;
    opacity: 0;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: var(--14-px);
    color: var(--white-color);
    background: var(--white-color);
    position: var(--position-absolute);
    pointer-events: var(--display-none);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    left: 50%;
    content: "";
    bottom: -3px;
    width: var(--8-px);
    height: var(--8-px);
    background: var(--white-color);
    position: var(--position-absolute);
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: var(--visible);
    pointer-events: var(--auto);
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    color: var(--white-color);
    background: var(--facebook-blue);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    color: var(--white-color);
    background: var(--twitter-blue);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    color: var(--white-color);
    background: var(--instagram-red);
}

.list-holder {
    gap: var(--20-px);
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
}

.footer-text-first {
    color: var(--text-gray-color);
    font-weight: var(--500-font-weight);
}

@media screen and (min-width:870px) {
    .footerupper {
        display: var(--display-flex);
    }

    .list-holder {
        width: 100%;
        display: var(--display-flex);
        flex-wrap: var(--flex-wrap-wrap);
        flex-direction: var(--flex-direction-row);
        justify-content: var(--display-space-around);
    }

    .footerul li:first-child {
        font-size: var(--18-px);
    }

    .footerul li {
        font-size: var(--16-px);
    }

    footer {
        height: 100%;
        max-width: 870px;
        margin: 0 var(--auto);
    }

    .copyright-text {
        max-height: 40px;
        margin: 60px 0 20px 0;
        display: var(--display-flex);
        position: var(--position-relative);
        align-items: var(--display-center);
        justify-content: var(--display-space-between);
    }

    .iconholder {
        top: -70px;
        right: 50px;
        position: var(--position-absolute);
    }

    footer .footer-logo {
        width: 120px;
        margin-top: var(--20-px);
    }

    .footer-text-first {
        font-size: var(--14-px);
    }

    .footer-a-tag {
        font-size: var(--14-px);
    }
}

@media (min-width: 1050px) and (max-width: 1150px) {
    footer {
        max-width: 1000px;
    }
}

@media (min-width: 1150px) and (max-width: 1250px) {
    footer {
        max-width: 1200px;
    }
}

@media (min-width: 1250px) and (max-width: 1350px) {
    footer {
        max-width: 1300px;
    }
}

@media (min-width: 1350px) and (max-width: 1450px) {
    footer {
        max-width: 1400px;

    }
}

@media screen and (min-width: 1350px) {
    footer {
        max-width: 1300px;
    }
}

@media only screen and (max-width: 767px) {
    footer {
        height: 100%;
    }
    .AnimationBox{
        left: 50%;
        top: 2%;
    }
}