.sectionsecondimage {
    max-width: 400px;
    margin: var(--auto);
    width: var(--percent-100);
    margin-bottom: var(--20-px);
    display: var(--display-flex);
}

.blue {
    font-size: var(--18-px);
    color: var(--main-blue-color);
    font-weight: var(--700-font-weight);
}

.font-light {
    font-size: var(--14-px);
    font-weight: var(--200-font-weight);
    margin: var(--16-px) var(--percent-0);
}

.line-height {
    font-size: var(--16-px);
    line-height: var(--28-px);
}

.font-bold {
    font-weight: var(--600-font-weight);
}

.section-second-text-holder{
    padding: var(--20-px);
}

.section-second-text-holder button{
    margin: var(--20-px) var(--percent-0);
}

.mainpagebutton {
    width: 200px;
    height: 50px;
    color: var(--white-color);
    border-radius: var(--26-px);
    font-weight: var(--600-font-weight);
    transition: var(--transition-medium);
    border: 2px solid var(--main-blue-color);
    background-color: var(--main-blue-color);
}

.mainpagebutton:hover {
    color: var(--main-blue-color);
    background-color: var(--white-color);
}

.second-section-holder {
    box-shadow:
        0px 0px 5.3px rgba(0, 0, 0, 0.028),
        0px 0px 17.9px rgba(0, 0, 0, 0.042),
        0px 0px 80px rgba(0, 0, 0, 0.07);
}

@media screen and (min-width:770px) {
    .second-section-holder {
        max-width: 700px;
        gap: var(--20-px);
        margin: 0 var(--auto);
        padding: var(--percent-0);
        display: var(--display-flex);
        align-items: var(--display-center);
        justify-content: var(--display-center);
    }

    .second-section-holder img {
        width: 300px;
        border-radius: var(--14-px);
        margin-bottom: var(--percent-0);
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0 !important;
    }
}

@media screen and (min-width:1050px) {
    .second-section-holder {
        max-width: 950px;
    }

    .second-section-holder img {
        height: 400px;
        margin: var(--percent-0);
    }

    .section-second-text-holder {
        height: 400px;
        padding: var(--30-px) 60px;
        display: var(--display-flex);
        flex-direction: var(--flex-direction-column);
        justify-content: var(--display-space-around);
    }

    .section-second-text-holder h1 {
        font-size: var(--28-px);
    }

    .section-second-text-holder p {
        font-size: var(--18-px);
    }
}

@media screen and (min-width:1250px) {
    .second-section-holder {
        max-width: 1150px;
    }
}

.call-us span {
    margin-left: var(--20-px);
}